<p>Password must be at least 8 characters in length.</p>
<h5>Please choose a secure password. Things to avoid:</h5>
<ol>
  <li>Words you can find in the dictionary.</li>
  <li>Passwords shown as "example strong passwords."</li>
  <li>Personal information, such as names and birth dates.</li>
  <li>Keyboard patterns, like qwerty or 12345. Particularly avoid sequences of numbers in order.</li>
  <li>Common acronyms.</li>
  <li>All one type of character - such as all numbers, all upper-case letters, all lower-case letters, etc.</li>
  <li>Repeating characters, such as mmmm3333.</li>
  <li>The same password you use for another application.</li>
</ol><br/>
