<div class="row homepage">
  <div class="columns eight">
    <div class="intro-left">
      <h1>MotivePower&trade; CDS</h1>
      <p>Monitor the location and status for a locomotive, as well as manage fleet diagnostics in real-time with the MotivePower Central Diagnostic System (CDS). Meeting the needs for fleets of all sizes, the CDS can help reduce operating costs and increase revenue through improved productivity, enhanced security, proactive service management, and comprehensive preventative maintenance information.</p>
      <h2>Schedule a Demo</h2>
      <p>Interested in the MotivePower CDS? <br />Contact a <a href="mailto:motivepowerinc@wabtec.com">MotivePower representative</a> today for a free demo.</p>
    </div>
  </div>
  <div class="eight columns omega offset-by-three">
    <div class="user-login-wrap">
      <%= render "devise/sessions/form" %>
    </div>
  </div>
</div>
