<section class="row">
  <div class="sixteen columns settings-wrap alpha">
    <div class="app-placeholder">
      <%= render :partial => 'users/account_nav', :locals => { :active => 'company' } %>
      <div class="ten columns alpha">
        <div class="account-left">
          <h1 class="underlined_small">Edit Company</h1>
          <%= render 'form' %>

      </div>
    </div>
  </div>
</section>