
<div class="row">
  <div class="sixteen columns">
    <div class="app-placeholder">

      <h3> Select an account </h3>

      <table class="table table-bordered" style="background: #FFF">
        <thead>
        </thead>
        <tbody>
          <% @accounts.each do |a| %>
            <tr>
              <td><%= a.name %> </td>
              <td><%= link_to "View Fleet Manager", fleetmanager_url(subdomain: a.subdomain), :class => "btn btn-link pull-right", :style => "text-transform: none" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
